/*
Template CSS :  Project Name;
Version :       1.0;
Author :        workbythai;
*/




/*------------------------------------*
$CONTENTS
*------------------------------------*/
/**
* FONT-FACE...........Import brand font files
* RESET...............Set our reset defaults
* ELEMENT ............Such as h1,ul,p,footer
* OBJECT..............Such as h1.title, p.text-center
* COMPONENT...........Including many object
* STYLE...............Other style
* RESPONSIVE..........Responsive for 5 devices
*/



/*------------------------------------*
$FONTFACE
*------------------------------------*/
@font-face {
    font-family: 'kanitbold';
    src: url('../fonts/kanit/kanit-bold-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitlight';
    src: url('../fonts/kanit/kanit-light-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitmedium';
    src: url('../fonts/kanit/kanit-medium-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'kanitregular';
    src: url('../fonts/kanit/kanit-regular-webfont.woff2') format('woff2'),
         url('../fonts/kanit/kanit-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


/*------------------------------------*
General
*------------------------------------*/

label{
  margin-bottom: 0 !important;
}

[class*=col-] {
  margin-bottom: 3vh;
}

::-webkit-scrollbar {
      width: 7px;
} /* this targets the default scrollbar (compulsory) */

::-webkit-scrollbar-track {
      border-radius: 8px;
      background-color: #ffffff17;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
      border-radius: 8px;
      background-color: #f04345;
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
      display:none;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-corner {
      background-color: black;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */

  a:hover{
    text-decoration: none;
  }

  section{
    margin-bottom: 10vh;
  }

  body{
    background: #000b35 url('../../assets/images/footer.jpg') no-repeat center bottom;
    background-size: 100vw 50vh;
    min-height:100vh;
    font-family: 'kanitregular';
    font-size: calc(0.2vw + 12px);
  }

  .wrapper{
    background: url('../../assets/images/bg2.jpg') no-repeat center top;
    background-size: 100vw 50vh;
    min-height:calc(100vh - 349px);
  }

  .shark{
    background: url('../../assets/images/bg1.jpg') no-repeat center top;
    background-size: 100vw 75vh;
    min-height:calc(100vh - 349px);
  }


  img{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

  .red{
    color:#f04345 !important;
  }

  .white{
    color:white !important;
  }

  .grey{
    color:#7b7b7b !important;
  }


  .navbar-toggler{
    border-color:white !important;
  }


  .mobile-nav .nav-item .active font{
    color:#f04345;
    text-shadow: -1px 0px 0 #f04345;
  }

  .mobile-nav .nav-item:hover font{
    color:#f04345 !important;
    text-shadow: -1px 0px 0 #f04345 !important;
  }

  .mobile-nav .phone:hover font{
    color:white !important;
    text-shadow: -1px 0px 0 white !important;
    cursor: default;
  }

  .desktop-nav .nav-item .active font{
    text-shadow: -1px 0px 0 #f04345;
    border-bottom: 2px solid #f04345;
  }

  .desktop-nav .nav-item:hover font{
    text-shadow: -1px 0px 0 white;
    border-bottom: 2px solid #f04345;

  }

  .desktop-nav2 .nav-item:hover font{
    text-shadow: -1px 0px 0 #f04345;
  }

  .nav-item .fa{
    font-size: calc(0.2vw + 16px);
    margin-right: 7px;
  }

  .nav-item font{
    font-size: calc(0.2vw + 16px);
    border-bottom: 2px solid transparent;
    transition: all 1s;
  }

  .desktop-nav .nav-item font{
    font-size: calc(0.2vw + 19px);
    text-shadow: -1px 0px 0 #ed4345;
  }

  .nav-item{
    margin-left: 1vw;
    margin-top: calc(1vh - 5px);
  }

  .navbar-collapse .flex-row{
    height:100%;
  }

  .navbar-nav{
    padding:1vh 0 1vh 0;
  }

  .footer-logo{
    display:flex;
    flex-direction: row;
  }

  .footer-navigator font{
    font-size:2vmin;
  }

  .top{
    background-color:black;
  }

  .bottom{
    background-color:white;
  }

  .logo-frame{
    position:relative;
    overflow:hidden;
    width:10vw;
    height:13vh;
  }

  .logo-frame2{
    position:relative;
    overflow:hidden;
    width:7vw;
    height:10vh;
    margin-right: 1vw;
  }


  .search-btn{
    transition: all 0s;
    background-color:white;
    border-right:1px solid black;
    border-radius: 16px 16px 16px 16px;
  }

  .search-btn:focus{
    box-shadow: none;
  }

  .search-btn:active{
    background-color:#f04345;
    color:white;
  }

  .search-btn:active i{
    color:white;
  }

  .search-form{
    border: none;
    border-radius: 16px 16px 16px 16px;
  }

  .search-form:focus{
    border-radius: 16px 16px 16px 16px;
    box-shadow: none;
  }


/*------------------------------------*
END General
*------------------------------------*/



/*------------------------------------*
INDEX
*------------------------------------*/

  .header-height{
    height:60vh;
    padding-top: 15vh;
    padding-bottom: 15vh;
  }

  .header-text{
    width:100%;
    height: calc(2vw + 22px);
    overflow:hidden;
  }

  .header-text h1{
    font-size: calc(2vw + 12px);
  }

  .header-text h2{
    font-size: calc(2vw + 6px);
  }

  .header-text label{
    font-size: calc(0.2vw + 16px);
    padding-right: 20%;
  }

  .header-text .input-group{
    width:100%;
  }

  .header-text .input-group i{
    background-color: #f04345;
    padding:15px 15px 15px 15px;
    font-size: calc(0.2vw + 25px);
    border-radius:8px 0px 0px 8px;
  }

  .header-text .input-group .input-group-prepend{
    padding:5px 10px 5px 5px;
    background-color: #d6393b;
    border-radius:0px 8px 8px 0px;
  }

  .header-text .input-group span{
    color:white;
    font-size: calc(0.2vw + 25px);
  }

  .course-header{
    font-size: calc(0.2vw + 25px);
    margin-bottom: 2vh;
  }

  .course-header i{
    padding: 7px;
    margin-right: calc(1vw - 5px);
    color:#f04345;
  }

  .course-header font{
    font-size: calc(0.2vw + 20px);
    color:white;
  }

  .course-card{
    position:relative;
    width:100%;
    height:45vh;
    overflow:hidden;
    border-radius:0 !important;
    border:none;
  }

  .course-card-body{
    position:relative;
    width:100%;
    height:auto;
    padding:0;
  }

  .course-card-img{
    width:100%;
    position:relative;
    overflow:hidden;
    height:40vh;
  }

  .bookmark{
    color:#f04345;
    font-size:40px;
    position:absolute;
    top:-3%;
    right:5%;
  }

  .course-content{
    width:100%;
    position:absolute;
    bottom:0;
    margin-bottom:1vh;

  }

  .course-choose :hover{
    cursor:pointer;
  }

  .course-choose{
    width:100%;
    height:5vh;
    padding-top: 1vh;
    text-align: center;
    background-color: #f04345;
  }

  .course-choose label{
    color:white;
    font-size: calc(0.2vw + 16px);
  }

  .card-title-frame{
    width:100%;
    padding:0 5% 0 5%;
    height:4.5vh;
    overflow:hidden;
    margin-bottom:0.5vh;
  }

  .course-content .card-title{
    font-size: calc(0.2vw + 16px);
    color:white;
  }

  .fade-bg{
    position:absolute;
    height:40vh;
    width:100%;
    background:linear-gradient(to bottom, #00000000 10%, rgb(27, 27, 27) 70%)
  }

  .card-description-frame{
    width:100%;
    padding:0 5% 0 5%;
    height:3.3vh;
    overflow:hidden;
  }

  .card-description-frame label{
    font-size: calc(0.2vw + 25px);
    color:white;
  }

  .card-description-currency{
    width:100%;
    padding:0 5% 0 5%;
    overflow:hidden;
  }

  .card-description-currency p{
    font-size: calc(0.2vw + 16px);
    color:#CCC;
  }

  .course-box{
    height:41vh;
    overflow-y: auto;
  }

  .discount{
    margin-left: 1vw;
    font-size: calc(0.2vw + 14px) !important;
    color:#f04345 !important;
    text-decoration: line-through;
  }

  .whyus-box{
    text-align: center;
    width:70%;
    margin-left: auto;
    margin-right: auto;
    border-bottom: 2px solid white;
    padding-bottom: 1.5vh;
    height: 5.5vh;
    overflow:hidden;
  }

  .whyus-box h2{
    font-size: calc(0.2vw + 35px);
  }

  .reason-img-frame{
    margin-left: auto;
    margin-right: auto;
    position:relative;
    overflow:hidden;
    width:40%;
    /* height:20vh; */
  }

  .reason-head{
    margin: 1vh 0 1vh 0;
    text-align:center;
    height: 4.5vh;
    overflow: hidden;
  }

  .reason-head font{
    font-size: calc(0.2vw + 25px);
    color: white;
  }

  .reason-description {
    text-align:center;
    height: 9vh;
    overflow: hidden;
  }

  .reason-description font{
    font-size: calc(0.2vw + 16px);
    color: #CCC;
  }



/*------------------------------------*
END INDEX
*------------------------------------*/

/*------------------------------------
LOGIN
-------------------------------------*/
.login-font-head {
  font-size: 30px;
  color: #f04345;
}
.login-line-text {
  margin-top: 85px;
  line-height: 85px;
}
.login-bnt {
  background-color: #f14344;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  width: 33.33%;
}
.bnt-register-forget  {
  background-color:transparent;
  color: #f14344;
  border-radius: 25px;
  font-size: 18px;
  width: 30%;
  margin-left: 17px;
}
.bnt-register-forget:hover {
  background-color: #f14344;
  color: #fff;
  border-radius: 25px;
  font-size: 18px;
  width: 30%;
  margin-left: 17px;
}
.login-mt-40px {
      margin: 40px 0px;
}
/*------------------------------------
END LOGIN
-------------------------------------*/
/*------------------------------------
REGISTER
--------------------------------------*/
.register-label {
    display: inline-block;
    margin-bottom: 0px!important;
    margin-left: 5px;
}
.register-from-size {
      margin: 0px 300px;
}
.register-bnt {
    width: 145px;
    border-radius: 25px;
    background-color: #f04343;
    color: #fff;
    font-size: 18px;
    margin-top: 30px;
    margin-bottom: 30px;
}

/*------------------------------------
END REGISTER
--------------------------------------*/

/*-----------------------------------
PROFILE
-------------------------------------*/
.profile-font22 {
  font-size: 22px
}
.form-control {
    border-radius: 10px;
}
.profile-from-size-auto {
  width: 70%;
}
.profile-mb-0 {
  margin-bottom: 0px!important;
}
/*-----------------------------------
END PROFILE
-------------------------------------*/

/*-----------------------------------
MYCOURSE
-------------------------------------*/
.mycourse-bnt-size {
      width: 190px;
      margin-top: 0px;
      margin-bottom: 0px;
}
.mycourse-bnt-forward {
      font-size: 16px!important;
      background-color: #c73a3a;
      color: #fff;
}
.mycourse-bnt-back {
      font-size: 16px!important;
      background-color: #f04343;
      color: #fff;
}
.mycourse-font-md {
  font-size: calc(0.5vw + 13px);
}
/*-----------------------------------
END MYCOURSE
-------------------------------------*/
/*-----------------------------------
PAYMENT
-------------------------------------*/
.payment-font-respon {
    font-size: calc(0.8vw + 14px);
}
/*-----------------------------------
END PAYMENT
-------------------------------------*/

/*-------------------------------------
BOOKING
---------------------------------------*/
.booking-bnt-size {
    overflow: hidden;
    width: 190px;
    margin-top: 0px;
}
.booking-bnt-right {
    background-color: #f04343;
    color: #ffffff;
    width: 50px;
    border-radius: 0px 7px 7px 0px;
}
.booking-bnt-left {
    background-color: #f04343;
    color: #ffffff;
    width: 50px;
    border-radius: 7px 0px 0px 7px;
}
.booking-bnt-today {
    background-color: #f04343;
    color: #ffffff;
    border-radius: 5px 5px 5px 5px;
    margin-left: 20px;
}
.booking-border-card {
    border-radius: 3px;
    border: 5px solid #f04343;
}

.booking-border-topdot {
  border-top: 2px dotted #e1e1e1!important;
}
.booking-border-bottomdot {
  border-bottom: 2px dotted #e1e1e1!important;
}
.booking-card-header {
  background-color: #fff;
  border: none;
}
th,td {
  border: 2px solid #e1e1e1;
  font-weight: bold;
}
.booking-bntgrou-right {
  margin-right: 15px;
}
.booking-text-top {
      margin-top: 10px;
}
/*---------------------------------------
END BOOKING
-----------------------------------------*/

/*------------------------------------*
About us
*------------------------------------*/

  .aboutus-header{
    height: 20vh;
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  .figure-frame{
    position:relative;
    overflow:hidden;
    width:100%;
  }

  .aboutus-description{
    width:100%;
    height:100%;
    overflow-y:auto;
  }

  .aboutus-description font{
    color:white;
    font-size: calc(0.2vw + 14px);
  }

  .page-link {
      position: relative;
      display: block;
      padding: .5rem .75rem;
      margin-left: -1px;
      line-height: 1.25;
      color: #f04345;
      background-color: #000;
      border: 1px solid #f04345;
      border-radius: 4px;
      margin-left: 0.2vw;
      margin-right: 0.2vw;
  }

  .page-item.disabled .page-link {
    color: #821617;
    background-color: #000;
    border: 1px solid #821617;
  }

  .page-item.active .page-link {
      z-index: 1;
      color: #fff;
      background-color: #f04345;
      border-color: #f04345;
      border-radius: 4px;
  }

/*------------------------------------*
END About us
*------------------------------------*/


/*------------------------------------*
Course Detail
*------------------------------------*/

  .course-detail-box .course-header{
    border-bottom: 2px solid white;
    padding-bottom: 1vh;
  }

/*------------------------------------*
END Course Detail
*------------------------------------*/



/*------------------------------------*
Contact Us
*------------------------------------*/

  .g-map{
    border: 2px solid #f04345 !important;
  }


/*------------------------------------*
END Contact Us
*------------------------------------*/


@media(max-width: 1366px){

  /*------------------------------------*
  $General min 1366
  *------------------------------------*/

    .wrapper{
      min-height:calc(100vh - 378px);
    }

    .logo-frame{
      width:17vw;
    }

    .logo-frame2{
      width:15vw;
      height:12vh;
      margin-right: 2vw;
    }


  /*------------------------------------*
  $END General min 1366
  *------------------------------------*/



  /*------------------------------------*
  INDEX 1366
  *------------------------------------*/

    .header-text{
      width:100%;
      height: calc(2vw + 30px);
      overflow:hidden;
    }

    .course-box {
      height: 41vh;
    }

  /*------------------------------------*
  END INDEX 1366
  *------------------------------------*/


}

@media(max-width: 1024px){

  /*------------------------------------*
  $General min 1024
  *------------------------------------*/

    section{
      margin-bottom: 5vh;
    }

    body{
      background-size: 100vw 30vh;
    }

    .wrapper{
      background-size: 100vw 40vh;
      min-height:calc(100vh - 389px);
    }

    .logo-frame{
      width:20vw;
      height:10vh;
    }

    .logo-frame2{
      width:15vw;
      height:7vh;
      margin-right: 2vw;
    }

    .mobile-nav .nav-item i{
      margin-top: calc(2vh - 5px);
    }

  /*------------------------------------*
  $END General min 1024
  *------------------------------------*/


    /*------------------------------------*
    INDEX 1024
    *------------------------------------*/

      .header-height{
        height:30vh;
        padding-top: 3vh;
        padding-bottom: 3vh;
      }

      .header-text{
        width:100%;
        height: calc(2vw + 40px);
        overflow:hidden;
      }

      .course-card {
        height: 25vh;
      }

      .course-box {
        height: 23vh;
      }

      .reason-head {
        margin: 1vh 0 1vh 0;
        height: 3vh;
      }

      .reason-description {
        height: 7.5vh;
      }

      .course-choose {
        padding-top: 1.5vh;
      }

    /*------------------------------------*
    END INDEX 1024
    *------------------------------------*/

    /*------------------------------------
      PROFILE 1024
    --------------------------------------*/
    .profile-from-size-auto {
      width: 90%;
    }
    /*------------------------------------
    END PROFILE 1024
    --------------------------------------*/
    /*-----------------------------------
    LOGIN 1024
    -------------------------------------*/
    .register-from-size {
        margin: 0px 240px;
    }
    .bnt-register-forget  {
      background-color:transparent;
      color: #f14344;
      border-radius: 25px;
      font-size: 18px;
      width: 30%;
      margin-left: 15px;
    }
    .bnt-register-forget:hover {
      background-color: #f14344;
      color: #fff;
      border-radius: 25px;
      font-size: 18px;
      width: 30%;
      margin-left: 15px;
    }
    /*-----------------------------------
    END LOGIN 1024
    -------------------------------------*/

    /*-----------------------------------
    MY COURSE 1024
    -------------------------------------*/
/*    .mycourse-bnt-group {
        margin-bottom: 0px;
        margin-top: 0px;
        border-radius: 0px 5px 5px 0px;
        overflow: hidden;
        width: 250px;
    }*/
    /*-----------------------------------
    END MY COURSE 1024
    -------------------------------------*/


    /*------------------------------------*
    aboutus 1024
    *------------------------------------*/

    .aboutus-header {
      height: 12vh;
      padding-top: 3vh;
      padding-bottom: 2vh;
    }

    .aboutus-header .header-text{
      height: calc(2vw + 12px);
    }

    /*------------------------------------*
    END aboutus 1024
    *------------------------------------*/


}

@media(max-width: 768px){

  /*------------------------------------*
  $General min 768
  *------------------------------------*/

    .wrapper{
      min-height:calc(100vh - 216px);
    }


    .logo-frame2{
      width:15vw;
      height:8vh;
    }


  /*------------------------------------*
  $END General min 768
  *------------------------------------*/


  /*------------------------------------
    LOGIN 768
  --------------------------------------*/
    .register-from-size {
        margin: 0px 120px;
    }
    .bnt-register-forget  {
      background-color:transparent;
      color: #f14344;
      border-radius: 25px;
      font-size: 18px;
      width: 30%;
      margin-left: 15px;
    }
    .bnt-register-forget:hover {
      background-color: #f14344;
      color: #fff;
      border-radius: 25px;
      font-size: 18px;
      width: 30%;
      margin-left: 15px;
    }
    .register-bnt {
      width: 145px;
      border-radius: 25px;
      background-color: #f04343;
      color: #fff;
      font-size: 18px;
      margin-top: 15px;
      margin-bottom: 30px;
    }
  /*------------------------------------
  END LOGIN 768
  --------------------------------------*/

/*------------------------------------
MYCOURSE 768
--------------------------------------*/
  .mycourse-bnt-group {
      margin-bottom: 0px;
      margin-top: 0px;
      border-radius: 0px 5px 5px 0px;
      overflow: hidden;
      width: 250px;
  }
/*------------------------------------
END MYCOURSE 768
--------------------------------------*/

  /*------------------------------------*
  INDEX 768
  *------------------------------------*/

    .header-height{
      height:35vh;
      padding-top: 2vh;
      padding-bottom: 2vh;
    }


    .header-text{
      width:100%;
      height: calc(2vw + 40px);
      overflow:hidden;
    }

    .course-card {
      height: 45vh;
    }

    .course-box {
      margin-top: 5vh;
    }

    .reason-img-frame {
      width: 60%;
      /* height: 20vh; */
    }

    .reason-description {
      height: 10vh;
    }

  /*------------------------------------*
  END INDEX 768
  *------------------------------------*/


  /*------------------------------------*
  aboutus 768
  *------------------------------------*/

  .aboutus-header {
    height: 12vh;
    padding-top: 3vh;
    padding-bottom: 2vh;
  }

  .aboutus-header .header-text{
    height: calc(2vw + 12px);
  }

  /*------------------------------------*
  END aboutus 768
  *------------------------------------*/



  /*------------------------------------
  BOOKING 768 
  --------------------------------------*/
    th, td {
      border: 2px solid #e1e1e1;
      font-weight: bold;
      font-size: 12px;
  }
  .booking-bnt-size {
      overflow: hidden;
      width: 190px;
      margin-top: 0px;
  }

  /*------------------------------------
  END BOOKING 768 
  --------------------------------------*/

  /*-------------------------------------
  PROFILE 768
  ---------------------------------------*/
    .profile-from-size-auto {
      width: 100%;
    }
  /*-------------------------------------
  END PROFILE 768
  ---------------------------------------*/
}

@media(max-width: 414px){

  /*------------------------------------*
  $General min 414
  *------------------------------------*/

    body{
      background-size: 100vw 70vh;
    }

    [class*=col-12] {
      padding-left:  5vw;
      padding-right:  5vw;
    }

    .wrapper{
      background-size: 100vw 30vh;
      min-height:calc(100vh - 341px);
    }

    .footer-logo .footer-navigator{
      margin-top: 2vw;
    }

    .footer-logo{
      flex-direction: column;
    }

    .logo-frame2{
      width:40vw;
      height:14vh;
    }

    .logo-frame{
      width:30vw;
      height:12vh;
    }

    .footer-navigator font{
      font-size:2vmax;
    }


  /*------------------------------------*
  $END General min 414
  *------------------------------------*/
  /*-----------------------------------
  LOGIN min 414
  -------------------------------------*/

  .register-from-size {
    margin: 0px 30px;
  }
  .login-mt-40px {
    margin: 40px 40px;
  }
  .login-text-center-414 {
    text-align: center;
    padding: 0px 30px;
  }

  .login-bnt {
    background-color: #f14344;
    color: #f14344;
    border-radius: 25px;
    font-size: 18px;
    width: 100%;
  }
  .login-font-head {
      font-size: 23px;
      color: #f04345;
  }
  .bnt-register-forget  {
    background-color:transparent;
    color: #f14344;
    border-radius: 25px;
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
  }
  .bnt-register-forget:hover {
    background-color: #f14344;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    width: 100%;
    margin-top: 15px;
    margin-left: 0px;
  }
  .register-bnt {
      width: 145px;
      border-radius: 25px;
      background-color: #f04343;
      color: #fff;
      font-size: 16px;
      margin-top: 30px;
      margin-bottom: 30px;
  }
  /*------------------------------------
  END LOGIN min 414
  --------------------------------------*/


/*------------------------------------
PROFILE
--------------------------------------*/
.profile-font22 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 35px;
}
.profile-bntcenter-414 {
  text-align: center;
}
/*------------------------------------
END PROFILE
--------------------------------------*/


/*------------------------------------
MYCOURSE 414
--------------------------------------*/
.mycourse-bnt-group {
    margin-bottom: 0px;
    margin-top: 0px;
    border-radius: 0px 5px 5px 0px;
    overflow: hidden;
    width: 250px;
}
/*------------------------------------
END MYCOURSE 414
--------------------------------------*/



  /*------------------------------------*
  INDEX 414
  *------------------------------------*/


    .shark{
      background: url('../../assets/images/bg2.jpg') no-repeat center top;
      background-size: 100vw 40vh;
      min-height:calc(100vh - 349px);
    }

    .header-height{
      height:50vh;
      padding-top: 2vh;
      padding-bottom: 2vh;
    }

    .header-text .input-group{
      width:100%;
    }

    .header-height .mt-4{
      height: calc(2vw + 50px);
    }

    .course-card{
      margin-bottom:5vh;
      height: 60vh;
    }

    .course-card-img {
      height: 60vh;
    }

    .fade-bg {
      height: 60vh;
    }

    .card-title-frame {
      height: 5vh;
    }

    .card-description-frame {
      height: 5vh;
    }

    .course-choose {
      height: 8vh;
      padding-top: 2vh;
    }

    .course-box {
      height:33vh;
    }

    .reason-img-frame {
      width: 50%;
      /* height: 30vh; */
    }

    .reason-head {
      margin: 1vh 0 1vh 0;
      height: 6vh;
    }

    .whyus-box {
      height: 12.5vh;
    }

  /*------------------------------------*
  END INDEX 414
  *------------------------------------*/


  /*------------------------------------*
  aboutus 414
  *------------------------------------*/

  .aboutus-header {
    height: 12vh;
    padding-top: 3vh;
    padding-bottom: 2vh;
    margin-bottom:calc(3vh - 4vw);
  }

  .aboutus-header .header-text{
    height: calc(2vw + 25px);
  }

  .aboutus-header h1{
    font-size: calc(2vw + 25px);
  }

  .aboutus-header h2{
    font-size: calc(2vw + 20px);
  }

  .figure-col{
    margin-bottom:3vh;
  }


  /*------------------------------------*
  END aboutus 414
  *------------------------------------*/


  /*------------------------------------
  BOOKING 414
  --------------------------------------*/
  .booking-text-top {
      margin-top: 10px;
      text-align: center;
  }
  /*------------------------------------
  END BOOKING 414
  --------------------------------------*/
}

@media(max-width: 375px){

  /*------------------------------------*
  $General min 375
  *------------------------------------*/

  .wrapper{
    min-height:calc(100vh - 315px);
  }


  /*------------------------------------*
  $END General  375
  *------------------------------------*/


  /*------------------------------------
    LOGIN 375
    --------------------------------------*/
    .register-from-size {
        margin: 0px 15px;
    }
    .login-text-center-414 {
      text-align: center;
      padding: 0px 15px;
    }
    .bnt-register-forget  {
      background-color:transparent;
      color: #f14344;
      border-radius: 25px;
      font-size: 18px;
      width: 100%;
      margin-top: 15px;
      margin-left: 0px;
    }
    .bnt-register-forget:hover {
      background-color: #f14344;
      color: #fff;
      border-radius: 25px;
      font-size: 18px;
      width: 100%;
      margin-top: 15px;
      margin-left: 0px;
    }
    .login-font-head {
        font-size: 22px;
        color: #f04345;
    }
    /*------------------------------------
    END LOGIN 375
    --------------------------------------*/


    /*------------------------------------
    PROFILE 375
    --------------------------------------*/
    .profile-font22 {
        font-size: 18px;
        text-align: center;
        margin-bottom: 35px;
    }
    /*------------------------------------
    END PROFILE 375
    --------------------------------------*/

  /*------------------------------------*
  Index 375
  *------------------------------------*/

  .course-card{
    margin-bottom:5vh;
    height: 70vh;
  }

  .course-card-img {
    height: 70vh;
  }

  .fade-bg {
    height: 70vh;
  }

  .card-title-frame {
    height: 6vh;
  }

  .card-description-frame {
    height: 6vh;
  }


  .whyus-box {
    height: 14vh;
  }

  /*------------------------------------*
  End Index 375
  *------------------------------------*/


  /*------------------------------------*
  aboutus 375
  *------------------------------------*/



  /*------------------------------------*
  END aboutus 375
  *------------------------------------*/




}

@media (max-width: 320px ){

  /*------------------------------------*
  $General min 300
  *------------------------------------*/

    .wrapper{
      min-height:calc(100vh - 299px);
    }

    .logo-frame{
      position:relative;
      overflow:hidden;
      width:40vw;
      height:15vh;
    }


  /*------------------------------------*
  $END General min 300
  *------------------------------------*/


  /*------------------------------------*
  Index 320
  *------------------------------------*/

  .course-box {
    height:38vh;
  }

  .whyus-box {
    width: 90%;
    height: 16vh;
  }

  .reason-description {
    height: 13vh;
  }

  /*------------------------------------*
  END Index 320
  *------------------------------------*/


  /* -----------------------------------
  LOGIN 320
  -------------------------------------*/
  .bnt-register-forget  {
    background-color:transparent;
    color: #f14344;
    border-radius: 25px;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .bnt-register-forget:hover {
    background-color: #f14344;
    color: #fff;
    border-radius: 25px;
    font-size: 18px;
    width: 100%;
    margin-top: 10px;
    margin-left: 0px;
  }
  .login-font-head {
      font-size: 19px;
      color: #f04345;
  }
   /*-----------------------------------
   END LOGIN 320
   ------------------------------------*/

   /*------------------------------------
   PROFILE 320
   ------------------------------------*/
   .profile-font22 {
       font-size: 16px;
       text-align: center;
       margin-bottom: 35px;
   }
   /*------------------------------------
   END PROFILE 320
   ------------------------------------*/


   /*------------------------------------*
   aboutus 320
   *------------------------------------*/


   /*------------------------------------*
   END aboutus 320
   *------------------------------------*/




}
